<div class="col-md-8 col-md-offset-2">
  <div class="jumbotron">
    <h1>财务之家欢迎您</h1>
    <p>年报工具书</p>
    <p><a class="btn btn-primary btn-lg" href="/posts" role="button">软件操作</a></p>
     <p><a class="btn btn-primary btn-lg" href="/posts" role="button">问题集合</a></p>
  </div>
</div>
